{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "extends": "standard",
  "plugins": [
    "html"
  ],
  "rules": {
    "space-before-function-paren": "off",
    "arrow-parens": 0,
    "generator-star-spacing": 0,
    "no-debugger": 2 // 0 during build
  }
}